[run]
source = etl
parallel = True

[report]
show_missing = True
omit =
    */__init__.py
    */data/*
    */generated/*
    */models/*
    */research/*
    */tests/*
    etl/constants.py
    etl/update_zipcodes_from_open_addresses.py
